app-direct{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 860px;
    padding-bottom: 5px;
    background-image: url('/imgs/pattern.svg');
    background-size: contain;
    background-color: #00000090;
}