<div class="top" >
  <button (click)="toggleMenuChange()" class="burger-btn"><i class="fa fa-bars"></i></button>
  <ul id="burger" *ngIf="toggleMenu" class="animated fadeInUp">
    <li><span>Saved messages</span></li>
    <li><span>Contacts</span></li>
    <li><span>Settings</span></li>
    <li><span>Saved messages</span></li>
    <li><span>Contacts</span></li>
    <li><span>Settings</span></li>
  </ul>
  <div class="search"><i class="fa fa-search"></i><input type="text" name="" placeholder="Search"></div>
</div>